.image-sizing {
    min-height: 170px;
    max-height: 210px;
    width: auto;
    max-width: 240px;
}

.post-content {
    height: 210px;
    width: 240;
    display:flex;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
}

.post-container {
    background: white;
    margin: 10px;
}